*{
    padding: 0;
    margin: 0;
    font-family: "Circular Spotify Tx T Med";
    box-sizing: border-box;
}

:root{
    --ash-clr: #e5e7db;
    --clr: #f8f8f8;
    --light-brown: #c1b59f;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e9ece4;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex-content{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item{
    background-color: #f1f3ec;
    width: 350px;
    height: 600px;
    border-radius: 10px;
    margin: 2rem;
    padding: 0 1.5rem;
}

/* ===== Nav-Center ===== */

 .nav-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 0 1rem;
    margin: 0 auto;
}

.network{
    display: flex;
    align-items: center;
    justify-content: center;
}
.network>*{
    margin: 0 0.2rem;
}

.nav-center p, i{
    font-size: 0.8rem;
}

/* === Bars ===*/

.bar{
    width: 100%;
    margin-bottom: 1rem;
}

.bar>*{
    width: 8px;
    height: 2px;
    background: rgb(49, 49, 49);
    margin: 0.1rem 0;
    cursor: pointer;
}

.long{
    width: 12px;
}

/* ====== Header ======== */
header h2{
    letter-spacing: 0.10rem;
    font-size: 1.2rem;
    line-height: 1.5;
    width: 210px;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}

.input-field{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 0.5rem 0;
    border-radius: 25px;
    box-shadow: 0px 5px 12px rgb(233, 233, 233);
    margin-bottom: 0.8rem;
}

input{
    border: none;
    font-family: sans-serif;
}

.filter{
    max-width: 100%;
    width: 25px;
}

.input-field i{
    font-size: 1rem;
    color: rgb(54, 54, 54);
}


/*======== recipe===== */
.recipe{
    width: 100%;
}

.recipe h3{
    letter-spacing: 0.rem;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: capitalize;
}

.recipe-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.recipe-flex>*{
    width: 200px;
    height: 190px;
    background-color: #fafaf7;
    margin: 0.5rem 0.4rem 0.2rem 0;
    border-radius: 10px;
    display: inline-block;
    place-items: center;
    text-align: center;
    padding: 0.5rem;
    overflow: hidden;
}

 .recipe-flex .small{
    width: 0%;
    border-radius: 4px 0 0px 4px;
}

.photo{
    max-width: 100%;
    width: 130px;
}

.icon{
    max-width: 100%;
    width: 8px;
}

.recipe h4{
    font-size: 0.9rem;
    line-height: 2;
    text-transform: capitalize;
}

.recipe p{
    font-size: 0.7rem;
    text-transform: capitalize;
    color: rgb(173, 173, 173);
}

.font-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-icon>*{
    width: 20px;
    height: 20px;
    background-color: white;
    display: grid;
    place-items: center;
    text-align: center;
    border-radius: 50%;
    margin: 0 0.3rem;
    cursor: pointer;
    margin-top: 0.5rem;
}

.font-icon>*:hover{
    background-color: rgb(250, 249, 249);
}

.recipe-week h3{
    margin: 0.5rem 0;
}

.img-content{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    height: 130px;
    display: grid;
    place-items: center;
    position: relative;
}

.img-content img{
    max-width: 100%;
    width: 150px;
}

.point{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem;
    background-color: rgba(246, 117, 138, 0.4);
    border-radius: 3px 10px;
    width: 45px;
    text-align: center;
}

.point p{
    font-size: 0.7rem;
    font-weight: bolder;
    color: rgb(128, 56, 56, 0.7);
}

/* === sction two ==== */

.flex-item-2 .nav-center{
    padding: 1.2rem 1.5rem 1rem;
}

.flex-item-2{
    padding: 0;
}

.food{
    width: 100%;
    display: grid;
    place-items: center;
}

.food img{
    max-width: 100%;
    width: 245px;
    padding: 0rem 0 1rem;
}

section{
    width: 100%;
    height: 57.5%;
    background-color: #f8f9f6;
    border-radius: 25px 25px 10px 10px;
    
}

.section-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem 0;
    
}

.first{
    display: flex;
    align-items: center;
}

.first img{
    max-width: 100%;
    width: 22px;
}

.section-1 p{
    font-size: 1.1rem;
    text-transform: capitalize;
}

.underline{
    width: 90%;
    border-bottom: 1px solid rgb(223, 219, 219);
    margin: 0.8rem auto;
}

.prepare{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0rem 1rem 0rem;
}

.prepare h4{
    font-size: 0.9rem;
    text-transform: capitalize;
    letter-spacing: 0.10rem;
    line-height: 1.5;
}

.prepare p{
    font-size: 0.7rem;
    text-transform: capitalize;
    color: rgb(199, 198, 198);
    text-align: center;
}

.prepare img{
    max-width: 100%;
    width: 50px;
    margin-left: 0.3rem;
}

.ingen{
    padding: 0rem 1rem 0rem;
}

.ingen h4{
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 0.10rem;
    line-height: 1.5;
}

.ingen p{
    font-size: 0.7rem;
    color: rgb(138, 137, 137);
    font-weight: lighter;
    word-spacing: 0.10rem;
    line-height: 1.4;
    font-family: sans-serif;
}

.nutrition{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 254, 254);
    border-radius: 25px 25px 10px 10px;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
}

.nutrition h4{
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 0.10rem;
    line-height: 1.5;
}

.nutrition p{
    font-size: 0.7rem;
    color: rgb(173, 173, 173);
    font-weight: lighter;
    word-spacing: 0.10rem;
    line-height: 1.4;
    font-family: sans-serif;
    text-transform: capitalize;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex>*{
    border-right: rgb(240, 238, 238) 2px solid;
    margin: 0.5rem 0.2rem 0;
    padding: 0 0.7rem;
}
.flex p{
    text-align: center;
}
.flex h4{
    font-size: 0.9rem;
}
.none{
    border: none;
}

/* Section three */

.flex-item-3{
    padding: 0;
}
.flex-item-3 .nav-center{
    padding: 1.2rem 1.5rem 1rem;
}

.flex-item-3 img{
    width: 180px;
    padding: 1rem 0 0;
}

.flex-item-3 section{
    background-color: rgb(255, 255, 255);
    height: 45%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.flex-item-3 section h3{
    line-height: 2;
    font-size: 1.5rem;
    color: #222;
    text-transform: capitalize;
    letter-spacing: 0.10rem;
}

.flex-item-3 section p{
    font-size: 1rem;
    color: rgb(173, 173, 173);
    line-height: 1.4;
    margin-bottom: 2rem;
}

.flex-item-3 button{
    background:  rgb(255, 165, 0, 0.5);
    box-shadow: 5px 3px 3px rgb(255, 165, 0, 0.5);
    border: 1px solid black;
    padding: 0rem 0.8rem;
    border-radius: 5px;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: lighter;
    cursor: pointer;
}

@media screen and (max-width: 800px){
    .flex-content{
        flex-wrap: wrap;
    }
    .nutrition{
        height: 115px;
    }
}

@media screen and (max-width: 500px){
    .container{
        max-width: auto;
        margin: 0 auto;
    }
    
    .flex-content{
        width: 100%;
    }
    
    .flex-item{
        width: 300px;  
    }

    .small{
        display: none;
    }
}